[Unit]
Description=Gatecrash Web UI
After=network.target
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW

[Service]
Type=simple
ExecStart=/opt/gatecrash/webui/venv/bin/python /opt/gatecrash/webui/app.py
WorkingDirectory=/opt/gatecrash/webui
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
